.DS_Store
._.DS_Store
._.vs
._Assignment 2.pdf
._a2ms4.c
._account.c
._account.h
._accountTicketingUI.c
._accountTicketingUI.h
._accounts.txt
._commonHelpers.c
._commonHelpers.h
._ticket.c
._ticket.h
._tickets.txt
.vs/
